.toasts-container{
    font-size: 14px;
    position: fixed;
    z-index: 10;
    transition: 0.3s ease;

    .toast{
        margin-bottom: 1rem;
        border-radius: 5px;
        box-shadow: 0 0 10px #999;
        color: #000;
        opacity: 0.9;

        display: flex;
        align-items: center;
        justify-content: left;
        flex-basis: 360px;
        line-height: 1.5;
        width: 360px;
        height: 80px;
        padding: 10px;
        box-sizing: border-box;
        background: white;
        
        transition: 0.3s ease;
        animation: slideLeft 0.7s, slideRight linear 1s 4s forwards;

        .logo{
            width: 10%;
            height: 100%;
            font-size:24px;
            p{
                text-align: center;
            }
        }

        .info{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;

            .title{
                width: 100%;
                font-weight: bold;
                font-size: 16px;
                color: #212121;
                text-align: left;
            }
            .message{
                width: 100%;
                text-align: left;
                color: #9b9b9b;
            }
        }

        .button{
            clear: both;
            width: 10%;
            height: 100%;
            text-align: end;
            button{
                border: none;
                background: transparent;
            }
        }
    }
}

.bottom-right{
    bottom: 1rem;
    right: 1rem;
    animation: slideLeft 0.7s;
}

@keyframes slideLeft{
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideRight{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(120%);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}
