@import './ecm-base/style/variables';


.ocr-coor-info-container{
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
	margin-bottom: 2rem;
    background-color: #fbfcff;
    background: transparent !important;
    padding: 10px;
    &__main-title {
        font-size: 20px;
        font-weight: 700;
        color: $mb-color-blue-primary;
        margin: 0px 10px;
        &__button {
            border-style: none;
            font-weight: 600;
            &:focus {
                outline: none;
            }
        }
        .ocr-coor-button-update {
            float: right;
            width: 150px;
            height: 35px;
            align-items: center;
            font-size: 14px;
        }
    }
    &__main-body {
        margin: 10px;
        margin-top: 15px;
        display: grid;
        // grid-gap: 10px;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(1,1fr);
        &__general {
            border-radius: 8px;
            background-color: $color-white;
            padding: 18px;
            width: calc(100%);
            &__title {
                font-size: 18px;
                font-weight: 600;
                width: 100%;
                color: $color-gray-800;
                height: 30px;
                button {
                    height: 30px;
                    width: 150px;
                    float: right;
                    font-size: 14px;
                    font-weight: normal;
                    margin-bottom: 10px;
                }
            }
            &__header {
                height: 30px;
                span {
                    font-size: 16px;
                    font-style: 600;
                }
                button {
                    height: 30px;
                    width: 150px;
                    float: right;
                }
                margin-bottom: 10px;
            }
            &__body {
                margin: 5px 0px;
                width: calc(100%);
                padding-left: 20px;
                display: flex;
                &__list-info {
                    width: calc(50%);
                }
            }
            &__body-table {
                margin: 5px 0px;
                width: calc(100%);
                display: flex;
                &__list-info {
                    width: calc(50%);
                }
            }
        }

        &__group_tabel {
            display: grid;
            width: 100%;
            grid-gap: 10px;
            grid-template-columns: repeat(2,1fr);
            @media only screen and (max-width: 1300px) {
                grid-template-columns: repeat(1,1fr);
            }
        }

        &__item {
            display: table;
            &__row {
                display: table-row;
            }
            &__row-edit {
                display: table-row;
                height: 60px;
            }
            span {
                display: table-cell;
                i{
                    color: $color-gray-800;
                }
            }
        }
        &__span-label {
            width: 120px;
            word-wrap: break-word;
        }

        &__text-value {
            padding-left: 20px;
            color: $color-gray-800;
            word-break: break-all;
            input, textarea {
                color: $color-gray-800 !important;
            }
            &-input {
                padding-left: 20px;
                color: $color-gray-800;
                width: calc(80%);
                input, textarea {
                    color: $color-gray-800 !important;
                }
            }
        }
        &__radio {
            display: flex;
            justify-content: center;
            align-items: center;
            label {
                margin: 0px;
                margin-left: 5px;
            }
            margin-right: 40px;
        }
        &__radio-width-140 {
            display: flex;
            align-items: center;
            min-width: 140px;
            label {
                margin: 0px;
                margin-left: 5px;
            }
            margin-right: 40px;
        }
    }
    
    &__main-footer {
        margin: 0px 10px;
        button {
            height: 40px;
            width: 180px;
            margin-left: 40px;
        }
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row-reverse
    }
}


.ocr-coor-business-radio-item {
    border: 1px solid $color-blue-300;
    padding: 10px;
    width: 180px;
    height: 100px;
    border-radius: 0.35rem;
    background-color: #ffffff;
    &__title {
        font-weight: bolder;
        border-bottom: 1px solid $color-blue-300;
        text-align: center;
        font-size: 14px;
    }
    &__body {
        padding-top: 5px;
        font-size: 12px;
    }
}

.ocr-coor-group-edit-simple {
    width: 90% !important;
    margin: 10px;
    margin-bottom: 0px;
}

.radio-item-active {
    border: 3px solid $color-blue-400 !important;
}

.ocr-coor-business-input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 60px;
    max-width: 60px;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    border-radius: 0px 0.35rem 0.35rem 0px;
}

.ocr-coor-business-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    input {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        display: table-cell;
        padding: 6px 12px;
        border: 1px solid #ccc;
        margin: 0;
        border-radius: 0.35rem 0px 0px 0.35rem;
    }
}

.ocr-coor-business-label-suffix {
    vertical-align: top;
    padding-top: 10px;
}

.ocr-coor-footer-button-close {
    width: 120px;
    height: 38px;
}