@import './../../style/variables';

.dropdown-container{
    position: relative;

    &__overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: none;

        &__active{
            display: flex;
        }
    }

    &__header{
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border-radius: 6px;
        border: 1px solid $mb-color-gray-400;
        box-sizing: border-box;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        // z-index: 2;

        &__text{
            color:$mb-color-gray-700;
        }

        &__icon{
            color: $mb-color-blue-primary;
            padding-left: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }


    &__select-box{
        width: 100%;
        margin-top: 10px;
        border-radius: 6px;
        border: none;
        box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.14);
        box-sizing: border-box;
        position: absolute;
        z-index: 2;
        background-color: white;
        display: none;
        transition: all 0.3s ease;
        overflow: hidden;

        &__item{
            height: 40px;
            padding: 0 10px;
            vertical-align: middle;
            display: flex;
            align-items: center;

            &:hover{
                background-color: $mb-color-blue-light;
                color:#6788ec;
            }
        }

        &__top{
            bottom: 50px;
        }
    }

    .open{
        display: block;
        opacity: 1;
    }
}