@import "../share/ecm-base/style/base";

.do-an-container{
    height: 97.5vh;
    overflow: hidden;
    font-family: Averta, sans-serif;
}


.input-value-error {
  margin-top: 5px;
    border-color: #e74a3b !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    color: #e74a3b;
  }

  .do-an__input {
    width: 90%;
    border: 1px solid $color-gray-600;
    height: 1.875rem;
    border-radius: 0.375rem;
    padding: 0 10px;

    &:focus {
      border: 1px solid $color-blue-sub;
      background-color: $mb-color-blue-light;
      color: $color-blue-sub;
    }

    &:active {
      border: 1px solid $mb-color-blue-light;
    }

    outline: none;
  }

  .do-an__input-require{
    color: #e74a3b;
  }

  .button-search {
    width: 130px;
    height: 28px;
    border-radius: 8px;
    background-color: #141ed2;
    color: white;
    border-width: 0px;
    cursor: pointer;

    &:hover{
        background-color: #1d27f5;
    }
}

.do-an-focus-input{
  &:focus{
    border: 1px solid red;
}
}

  .do-an__modal__footer {
    width: 100%;
    height: 100%;

    // background-color: blue;

    display: flex;
    // flex-direction: row-reverse;
    justify-content: end;
    align-items: center;

    // transform: translateX(-100px);

    button {
      width: 100px;
      height: 30px;
      margin-left: 20px;

      font-family: Averta, sans-serif;
    }

    .ocr-designer__modal__footer__btn-cancel {
      background-color: $color-gray-700;
    }
  }


  .do-an-status-voucher-WAITING_CONFIRM {
      border-radius: 8px;
       background-color: #ffbb00;
       padding: 8px;
       font-size: 12px;
       color: rgb(0, 0, 0);
       font-weight: bold;
       width: 90px;
       border: none;
       cursor: pointer;
       opacity: 0.8;
  }

  .do-an-status-voucher-CONFIRMED {
    border-radius: 8px;
     background-color: #00c70a;
     padding: 8px;
     font-size: 12px;
     color: rgb(255, 255, 255);
     font-weight: bold;
     width: 90px;
     border: none;
     cursor: pointer;
     opacity: 0.8;
}

.do-an-status-voucher-EXPIRED {
  border-radius: 8px;
   background-color: #f50000;
   padding: 8px;
   font-size: 12px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   width: 90px;
   border: none;
   cursor: pointer;
   opacity: 0.8;
}

.do-an-status-voucher-PAYED {
  border-radius: 8px;
   background-color: #141ed2;
   padding: 8px;
   font-size: 12px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   width: 90px;
   border: none;
   cursor: pointer;
   opacity: 0.8;
}

.do-an-status-voucher-CANCELLED {
  border-radius: 8px;
   background-color: #555555;
   padding: 8px;
   font-size: 12px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   width: 90px;
   border: none;
   cursor: pointer;
   opacity: 0.8;
}

