.do-an__layout-project__container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    position: relative;
    &__menu {
        width: 210px;
        height: 100%;
        background-color: #202020;
    }

    &__view-expand {
        width: calc(100% - 210px);
        height: 100%;
        background-color: #efefef;
        overflow: auto;
    }

    &__manager-info {
        text-align: center;
        width: 60%;
        padding: 10px;
        margin-left: 20px;

        &__logout {
            width: 80%;
            padding: 10px;
            cursor: pointer;
            margin-top: 10px;
            color: white;
            &:hover {
                font-weight: 500;
                border: solid #141ed2;
                border-width: 1px;
                border-radius: 8px;
                background-color: #141ed2;
            }
        }

        &__username{
            color: white;
        }

        &__icon{
            color: white;
            padding-top: 10px;

            &:hover{
                background-color: #141ed2;
                border-radius: 50px;
            }
        }

        &__icon-inexpand{
            color: white;
            display: contents;

            &:hover{
                cursor: pointer;
            }
        }

    }

    &__view-inexpand {
        width: 95%;
        height: 100%;
        background-color: #efefef;
        overflow: auto;
    }

    &__logo{
        display: flex;
        margin-top: 10px;
        justify-content: center;
        &__image{
            width: 80px;
        }

        &__title{
            font-style: normal;
            font-size: 20px;
            display: flex;
            text-align: start;
            align-items: center;
            margin-left: 10px;
            font-weight: bold;
            color: #ffffff;
        }
    }
}

.inexpand{
    width: 5% !important;

}

.manager-info-inexpand{
    margin-left: 0px !important;
}

.username-inexpand{

}

.logout-inexpand{
   padding: 5px !important;
}

.logo-inexpand{
    width: 50px;
}