@import "../../style//variables";

.ecm-base-tag-container{
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    border: $color-gray 1px solid;
    background: white;
    padding: 2px 8px;
    border-radius: 4px;
    margin-bottom: .2rem;
    font-size: 14px;
    font-weight: 200;
    color: $color-gray;
  
    &__icon{
        display: inline-block;
        padding-right: 5px;
    }
  
    &__close{
      cursor: pointer;
      &:hover {
        color: $color-gray-800;
      }
      position: relative;
      display: inline-block;
      right: -3px;
      margin-left: 5px;
    }
  }