.do-an-form-update-group {
    &__body {

        &__content {
            padding: 10px;
            display: flex;

            &__info {
                width: 100%;
            }

            &__avatar {
                width: 20%;
            }
        }

        &__group-input {
            display: flex;
            margin: 12px;

            &__key {
                width: 20%;
            }

            &__input {
                width: 80%;
            }

            &__input-add-image{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }  
    .do-an-preview-image{
        height: 160px;
        width: 140px;
        object-fit: contain;
        margin-top: 10px;
    }
}


.do-an-title-avatar{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.do-an-dropdown-update{
    width: 50%;
}

