@import './../../style/variables';

@mixin style-button(
    $background,
    $color,
    $border,
    $hover-background,
){
    background-color: $background;
    color: $color;
    border: 1px solid border;
    &:hover{
        background-color: $hover-background;
    }
}


.ecm-button{
    width: 110px;
    height: 40px;
    border-radius: 3px;
    border: none;

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    text-align: center;
    cursor: pointer;

    &__normal-blue{
        @include style-button(
            $color-blue-primary,
            $color-white,
            $color-blue-primary,
            $color-blue-400
        )
    }

    &__dark-blue{
        @include style-button(
            $color-blue-800,
            $color-white,
            $color-blue-primary,
            $color-blue-700
        )
    }

    &__light-blue{
        @include style-button(
            $color-blue-100,
            $color-blue-primary,
            $color-blue-primary,
            $color-blue-200
        )
    }

    &__regular-blue{
        @include style-button(
            $color-white,
            $color-blue-primary,
            $color-blue-primary,
            $color-blue-100
        )
    }

    &__normal-red{
        @include style-button(
            $color-red-400,
            $color-white,
            $color-blue-primary,
            $color-red-300
        )
    }

    &__regular-red{
        @include style-button(
            $color-white,
            $color-red-400,
            $color-blue-primary,
            $color-red-100
        )
    }

    &__normal-gray{
        @include style-button(
            $color-gray-300,
            $color-gray-700,
            $color-blue-primary,
            $color-gray-500
        )
    }

    &__normal-green{
        @include style-button(
            $mb-btn-background-green,
            $mb-btn-text-color-green,
            $mb-btn-pressed-green,
            $mb-btn-hover-green
        )
    }
}