@import '../../style/variables';

.header{
    padding: 50px 15px;

    background-color: $mb-header-background;
}

.table-container{
    max-width: 100%;
    width: 100%;

    &__title{
        background-color: $mb-header-background;
        color: $mb-color-blue-primary;
        text-align: center;
        padding: 10px;

        h2{
            font-size: 24px;
            font-weight: normal;
        }
    }

    &__table-checkbox{
        width: 100%;
        border-collapse: collapse;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;

        &__scroll{

            tbody{
                display: block;
                max-height: 100%;
                overflow-y: auto;
                border-radius: 0px 0px 10px 10px;
                &::-webkit-scrollbar {
                    width: 10px;
                    border-radius: 6px;
                    left:-100px;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: $color-gray-600;
                    border-radius: 6px;
                }
            }

            thead, tbody tr {
                display:table;
                width:100%;
                table-layout:fixed;
            }
        }

        &__header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-weight: 600;

            -webkit-user-select:none;
            -moz-user-select:none;
            user-select:none;

            &__btn-sort{
                margin-left: 5px;
            }
        }

        &__item{
            // display: flex;
            justify-content: center;
        }

        thead{
            background-color: $mb-header-background;
            border-radius: 10px 10px 0px 0px;

            tr{
                background-color: transparent;
            }

            th{
                color: $mb-color-blue-primary;
                font-weight: normal;
            }
        }

        td, th{
            padding: 10px;
            text-align: center;
            align-items: center;

            a{
                color: $mb-color-blue-primary;
            }
        }

        tbody tr{
            // display: flex;
            // justify-content: space-around;
            background-color: $mb-color-gray-50;
            border-bottom: 1px solid $mb-color-gray-300;

            &:last-child{
                border: none;
            }
            &:hover {
                background-color: $color-gray-300;
            }
        }

        
    }

    .empty{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $mb-color-gray-50;
        .logo{
            height: 140px;
            width: 140px;
            background-image: url('./../../assets/icons/img-empty.png');
            background-size: cover;
        }
        .text{
            color: $color-gray-600;
        }
    }

    &__hidden{
        display: none;
    }
}