$text-color: #A0AEC0;
$title-color: #718096;
$heading-color: #2D3748;

$background-blue: #ebf3ff;
$background-light-blue: #fcfdff;
$background-grey: #eeeeee;

/* MB Design */
$mb-body-background: #fcfdff;
$mb-header-background: #ebf3ff;
$mb-header-text-color: #595959;

$mb-color-blue-primary: #141ed2;
$mb-color-blue-dark: #24264e;
$mb-color-blue-light: #ebf3ff;

$mb-color-sematic-error: #eb2d4b;
$mb-color-sematic-success: #1fb266;
$mb-color-sematic-warning: #f1b627;
$mb-color-sematic-disabled: #b2b8ed;

$mb-color-gray-50: #fcfcfc;
$mb-color-gray-100: #f7f7f7;
$mb-color-gray-300: #d8d8d8;
$mb-color-gray-400: #cccccc;
$mb-color-gray-700: #646464;
$mb-color-gray-900: #2e2e2e;

$mb-btn-background-dark-blue: #24264e;
$mb-btn-text-color-dark-blue: #ffffff;
$mb-btn-hover-dark-blue: #333670;
$mb-btn-pressed-dark-blue: #13142a;

$mb-btn-background-blue: #141ed2;
$mb-btn-text-color-blue: #ffffff;
$mb-btn-hover-blue: #454eed;
$mb-btn-pressed-blue: #1017a3;

$mb-btn-background-light-blue: #ebf3ff;
$mb-btn-text-color-light-blue: #141ed2;
$mb-btn-hover-light-blue: #d6e7ff;
$mb-btn-pressed-light-blue: #a3c8ff;

$mb-btn-background-green: #1FB266;
$mb-btn-text-color-green: #ffffff;
$mb-btn-hover-green: #7ab898;
$mb-btn-pressed-green: #8bb8a0;

$mb-btn-background-red: #e74a3b;
$mb-btn-text-color-red: #ffffff;
$mb-btn-hover-red: #daa09b;
$mb-btn-pressed-red: #ec695d;

$mb-btn-background-gray: #646464;
$mb-btn-text-color-gray: #ffffff;
$mb-btn-hover-gray: #a8a4a4;
$mb-btn-pressed-gray: #3c3c3c;


$mb-btn-background-yellow: #f1b627;
$mb-btn-text-color-yellow: #2e2e2e;
$mb-btn-hover-yellow: #f8da93;
$mb-btn-pressed-yellow: #f5cb67;


$color-blue-primary: #141ed2;
$color-blue-sub: #6788ec;
$color-blue-100: #ebf3ff;
$color-blue-200: #d6e7ff;
$color-blue-300: #a3c8ff;
$color-blue-400: #454eed;
$color-blue-500: #141ed2;
$color-blue-600: #1017a3;
$color-blue-700: #333670;
$color-blue-800: #24264e;
$color-blue-900: #13142a;

$color-red-100: #ffe6e0;
$color-red-200: #ffd5cc;
$color-red-300: #ef5c73;
$color-red-400: #eb2d4b;
$color-red-500: #ba122c;
$color-red-600: #ff0000;

$color-white: #ffffff;
$color-gray: #646464;
$color-gray-50: #fcfcfc;
$color-gray-100: #f7f7f7;
$color-gray-200: #f2f2f2;
$color-gray-300: #e6e6e6;
$color-gray-400: #d9d9d9;
$color-gray-500: #d8d8d8;
$color-gray-600: #cccccc;
$color-gray-700: #646464;
$color-gray-800: #2e2e2e;

$color-yellow-50: #fdf7e9;
$color-yellow-100: #fcf0d3;
$color-yellow-200: #fae9be;
$color-yellow-300: #f9e1a8;
$color-yellow-400: #f8da93;
$color-yellow-500: #f6d37d;
$color-yellow-600: #f5cb67;
$color-yellow-700: #f3c452;
$color-yellow-800: #f2bd3c;
$color-yellow-900: #f1b627;

